.pedido-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #d7d6d6;

}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.pedido {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid #000000;
  text-align: center;
}

.pedido-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 150px;
}

.pedido-detalhes p {
  margin: 10px 0;
}

.pedido-botoes {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 30px;

}

.botao_finalizar {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  font-size: 16px;
}

.botao_cancelar {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  font-size: 16px;
}

.botao_finalizar:hover,
.botao_cancelar:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .pedido-detalhes {
    margin-bottom: 100px;
  }

  .botao_finalizar,
  .botao_cancelar {
    width: 45%;

  }
}

