.gestao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #d7d6d6;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  color: #ff0000;
  margin-top: 20px;
}

p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 150px;
}

.btn-gestao {
  background-color: #ff0000; /* Cor do botão */
  color: #ffffff;
  border: none;
  padding: 10px 60px;
  font-size: 36px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.btn-gestao2 {
  background-color: #ff0000;
 color: #ffffff;
 border: none;
 padding: 10px 20px;
 font-size: 36px;
 border-radius: 15px;
 cursor: pointer;
 display: flex;
 margin-top: 50px;
 align-items: center;
}

.btn-gestao:hover {
  background-color: #8b0000; /* Cor do botão ao passar o mouse */
}
.btn-gestao2:hover {
  background-color: #8b0000;
}

/* Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    .btn-gestao {
        padding: 10px 45px;
        font-size: 30px;
    }

    .btn-gestao2 {
      padding: 10px 20px;
      font-size: 28px;
    }
}
