    <div class="container_retirar">
      <div class="header">
        <img src="images/seta-voltar.png" alt="seta voltar" (click)="voltarPaginaAnterior()">
        <img src="images/casa-menu.png" alt="casinha menu"  (click)="voltarParaMenu()">
      </div>
      <div class="status_retirar">PRONTOS P/RETIRAR</div>
        <div class="order">
            <div class="order-header">C1</div>
            <ul class="order-items">
                <li>1x Hamburguer Class</li>
                <li>1x Refrigerante</li>
                <li>1x Pudim</li>
            </ul>
            <button (click)="retirar()" class="button" >retirar</button>
        </div>
    </div>
