.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background-color: #d7d6d6;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.titulo {
  color: #ff0000;
  font-size: 64px;
  margin: 50px 0;
}

.subtitulo {
  color: #000000;
  font-size: 40px;
  margin-top: 80px;
}

.descricao {
  font-size: 16px;
  color: #000000;
  margin: 100px 0;

}

.botao {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 13px 70px;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.botao2 {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 17px 10px;
  font-size: 32px;
  cursor: pointer;
}

.botao:hover {
  background-color: #8b0000;
}

.botao2:hover {
  background-color: #8b0000;
}


@media (max-width: 600px) {
  .titulo {
    font-size: 64px;
  }

  .subtitulo {
    font-size: 40px;
  }

  .descricao {
    font-size: 16px;
    margin-bottom: 80px;
  }

  .botao {
    font-size: 30px;
    padding: 10px 45px;
  }
  .botao2 {
  font-size: 24px;
  padding: 15px 7px;
  }

}
