.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #d7d6d6;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

h1 {
color: #ff0000;
font-size: 64px;
margin: 70px 0;
}

h2 {
color: #000000;
font-size: 40px;
margin-top: 120px;
}

p {
  color: #ff0000;
  font-size: 40px;
  font-weight: bold;
}

.btn-entrar {
background-color: #ff0000;
color: #ffffff;
border: none;
border-radius: 10px;
padding: 13px 70px;
font-size: 36px;
margin-top: 200px;
cursor: pointer;

}


.btn-entrar:hover {
  background-color: #8b0000;
}

@media (max-width: 600px) {
  .btn-entrar {
  font-size: 36px;
  padding: 10px 30px;
  }
}
