.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #d7d6d6;
  padding: 20px;
}

.header {
  margin-left: auto;
  margin-bottom: 20px;
}
.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.mensagem_um {
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 60px;
}

.mensagem_dois {
  text-align: center;
  font-size: 16px;
  color: #000000;
  margin-top: 180px;
}

.mensagem_tres {
  text-align: center;
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 70px;
}
